

<%= form_with model: @food, url: foods_path, local: true do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, name: 'food[name]' %>
  </div>

  <div class="field">
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit, name: 'food[measurement_unit]' %> 
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, name: 'food[price]' %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, name: 'food[quantity]' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Food' %>
  </div>
<% end %>
