<h2>This is foods page</h2>

<%= link_to 'Add food', new_food_path, class: 'nav-link' %>

<div>
  <% if @foods.any? %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Measurement Unit</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %></td>
            <td><%= food.quantity %></td>
            <td>
              <%= button_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No foods available.</p>
  <% end %>
</div>
